//- extends tellspug what to hook into
extends layouts/main-layout.pug

//- when extending layout block hooks into the hook in extended from page & renders there
block content 
  h1 Pug Page Not Found!

